/* Desktop view */

.body-container {
  overflow: hidden;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Manrope", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
}

button#scroll-to-top {
  background-color: #07726d;
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  outline: none;
  cursor: pointer;
  border: none;
  color: #f8f7f7;
  z-index: 200;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.header-container {
  background-color: #fff;
  width: 100%;
}

header {
  max-width: 1100px;
  padding: 0 2.5%;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  width: 90px;
  height: 90px;
}

/* Dropdown */
header button {
  display: none;
}

.nav-btn {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: #18191f;
  transition: opacity 2s ease;
}

.nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.nav.visible {
  transform: translateX(0);
}

.nav-black {
  background-color: #18191f;
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  transition-delay: 0.4s;
}

.nav-black.nav.visible {
  transition-delay: 0s;
}

.nav-green {
  background-color: #07726d;
  width: 95%;
  transition-delay: 0.2s;
}

.nav-red.visible {
  transition-delay: 0.2s;
}

.nav-white {
  background-color: #eef1f3;
  width: 95%;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
}

.nav-white.visible {
  transition-delay: 0.4s;
}

.close-btn {
  opacity: 0.5;
  position: absolute;
  top: 40px;
  right: 30px;
}

.nav-white .logo img {
  width: 100px;
  height: 100px;
  margin-left: 25%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list {
  list-style-type: none;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.list li {
  margin: 30px 0;
}

.list li a {
  color: #18191f;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.list li.current-page a {
  color: #0c8e88;
  font-weight: 700;
}

.services-nav-mobile {
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 150px;
  justify-content: space-between;
  margin: 30px 0 10px 20px;
}

li .services-nav-mobile a {
  font-size: 1.25rem;
}

nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  font-family: "Montserrat", sans-serif;
  color: #18191f;
  font-size: 1.25rem;
  line-height: 20px;
  font-weight: 400;
}

.navigation .current-page {
  color: #0c8e88;
  font-weight: 700;
}

.navigation a:hover {
  color: #0c8e88;
}

.services-nav {
  width: 120px;
  height: 140px;
  position: absolute;
  top: 80px;
  transform: translateX(-12.5%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.services-nav a {
  color: #0c8e88;
}

.services-nav a:nth-child(1),
.services-nav-mobile a:nth-child(1) {
  animation: backInLeft;
  animation-duration: 1.25s;
  transition: transform ease-in-out 1s;
}
.services-nav a:nth-child(2),
.services-nav-mobile a:nth-child(2) {
  animation: backInLeft;
  animation-duration: 1s;
  transition: transform ease-in-out 0.75s;
}
.services-nav a:nth-child(3),
.services-nav-mobile a:nth-child(3) {
  animation: backInLeft;
  animation-duration: 0.75s;
  transition: transform ease-in-out 0.5s;
}
.services-nav a:nth-child(4),
.services-nav-mobile a:nth-child(4) {
  animation: backInLeft;
  animation-duration: 0.5s;
  transition: transform ease-in-out 0.25s;
}

.show {
  transform: translateX(-1200px);
}

.contact-intro-container {
  background-color: #fff;
  width: 100%;
  margin-top: 70px;
}

.contact-intro {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2.5%;
}

.contact-intro h2 {
  font-size: 2.8rem;
  line-height: 3.3rem;
  font-family: "Poppins", sans-serif;
  color: #18191f;
  font-weight: 500;
}

.contact-intro .address-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.contact-intro address span {
  color: #0c8e88;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  display: inline-block;
  margin: 25px 0 10px 0;
  opacity: 0.8;
}

.contact-intro address p {
  color: #18191f;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
}

.form-container {
  width: 100%;
  background-color: #fff;
  margin-top: 100px;
}

form {
  max-width: 1100px;
  padding: 0 2.5%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wave-group {
  position: relative;
  margin-bottom: 100px;
}

.wave-group .input {
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group.message .input {
  width: 700px;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 1.1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
  font-family: "Montserrat", sans-serif;
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 0.9rem;
  color: #0c8e88;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 300px;
}

.wave-group.wave-group.message .bar {
  width: 700px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #0c8e88;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

form button {
  background-color: #fff;
  padding: 0px 25px;
  border-radius: 10px;
  color: #0c8e88;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #0c8e88;
  font-size: 0.8rem;
  height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

form button:active {
  transform: scale(0.9);
  background-color: #18191f84;
}

.footer-container {
  width: 100%;
  min-height: 400px;
  background-color: #0c8e88;
  position: relative;
  margin-top: 100px;
}

footer {
  max-width: 1100px;
  padding: 0 2.5%;
  margin: 0 auto;
  min-height: 400px;
  color: #ffffff;
  position: relative;
}

.cols {
  width: 60%;
  margin-left: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transform: translateY(50%);
}

.col {
  width: 32%;
}

.col h5 {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.col p {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-top: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.footer-logo {
  position: absolute;
  z-index: 2;
  transform: translateY(-75%);
}

.footer-bg-logo {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 20px;
  z-index: 1;
}

.footer-bg-logo img {
  width: 100%;
  height: auto;
  opacity: 0.15;
}

.sub-footer-container {
  background-color: #07726d;
  width: 100%;
  min-height: 70px;
}

.sub-footer {
  max-width: 1100px;
  padding: 0 2.5%;
  height: 70px;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #d9dbe1;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-footer-icon {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-footer-icon img {
  width: 20%;
  height: 15px;
}

/* Laptop view */
@media (max-width: 1024px) {
  .contact-intro .address-container {
    width: 75%;
  }
}

/* Small screens view  and Large Tablet*/
@media (max-width: 992px) {
  nav {
    width: 55%;
  }

  .navigation a {
    font-size: 1.15rem;
  }

  .contact-intro .address-container {
    width: 80%;
  }

  .form-container {
    margin-top: 70px;
  }

  .wave-group {
    margin-bottom: 40px;
  }

  .wave-group .input {
    width: 500px;
  }

  .wave-group.message .input {
    width: 500px;
  }

  .wave-group .bar {
    width: 500px;
  }

  .wave-group.wave-group.message .bar {
    width: 500px;
  }

  .footer-logo {
    margin-left: 60px;
  }

  .footer-bg-logo {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 45px;
  }
}

/* Small Tablet View */
@media (max-width: 768px) {
  header .logo img {
    width: 80px;
    height: 80px;
  }

  header button,
  .nav {
    display: block;
  }

  nav {
    display: none;
  }

  .contact-intro-container {
    margin-top: 50px;
  }

  .contact-intro .address-container {
    width: 90%;
  }

  .contact-intro h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .contact-intro address span {
    font-size: 0.8rem;
    margin: 20px 0 7px 0;
  }

  .contact-intro address p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .form-container {
    margin-top: 50px;
  }

  .wave-group .input {
    width: 400px;
  }

  .wave-group.message .input {
    width: 400px;
  }

  .wave-group .bar {
    width: 400px;
  }

  .wave-group.wave-group.message .bar {
    width: 400px;
  }

  .wave-group .label {
    font-size: 1rem;
  }

  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    font-size: 0.85rem;
  }
  .footer-container {
    margin-top: 75px;
  }

  .cols {
    width: 90%;
    margin-left: 10%;
    transform: translateY(40%);
  }

  .col {
    width: 32%;
  }

  .footer-logo {
    display: none;
  }
}

/* Mobile view */
@media (max-width: 430px) {
  header .logo img {
    width: 60px;
    height: 60px;
  }

  .contact-intro-container {
    margin-top: 35px;
  }

  .contact-intro .address-container {
    width: 100%;
  }

  .contact-intro h2 {
    font-size: 2.1rem;
    line-height: 2.5rem;
  }

  .contact-intro address span {
    font-size: 0.75rem;
    margin: 20px 0 7px 0;
  }

  .contact-intro address p {
    font-size: 0.85rem;
    line-height: 1.2rem;
  }

  .form-container {
    margin-top: 30px;
  }

  .wave-group .input {
    width: 300px;
  }

  .wave-group.message .input {
    width: 300px;
  }

  .wave-group .bar {
    width: 300px;
  }

  .wave-group.wave-group.message .bar {
    width: 300px;
  }

  .wave-group .label {
    font-size: 0.95rem;
  }

  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    font-size: 0.85rem;
  }

  .footer-container {
    margin-top: 60px;
  }

  .cols {
    transform: translateY(30%);
  }

  .col h5 {
    font-size: 1rem;
  }

  .col p {
    font-size: 0.75rem;
  }

  .footer-bg-logo {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 15%;
    z-index: 1;
  }

  .sub-footer p {
    font-size: 0.65rem;
  }
}
